.left-panel {
    width: 500px;
    overflow-x: auto;
    overflow-y: hidden;
    z-index: 3;
}
.workbench-card-sidepanel {
    
    width: 400px;
}

.card-help-panel {
    width: 390px !important;
}
.workbench-card-container-sidepanel-active .thumbnail-container {
    width: calc(100% - 1040px) !important;
}
.number-widget-report {
    margin-bottom: 5px;
}