{% load staticfiles %}
{% load template_tags %}
{% load i18n %}
<!DOCTYPE html>
<html>

<head>

    <!-- Basic -->
    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{{ app_settings.APP_NAME }} - Welcome</title>

    <meta name="keywords" content="NHDP" />
    <meta name="description" content="Nepal Heritage Documentation Project">
    <meta name="author" content="NHDP">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon" />
    <link rel="apple-touch-icon" href="{% static 'img/apple-touch-icon.png' %}">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

    <!-- Web Fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light"
        rel="stylesheet" type="text/css">

    {% include 'partials/css.htm' %}
    <link rel="stylesheet" href="{% static 'css/design/vendor/font-awesome/css/font-awesome.min.css' %}">
</head>

<body data-spy="scroll" data-target="#navSecondary" data-offset="172">
    <div class="body">
        {% include "partials/danam_navbar.htm" %}
        <div role="main" class="main">
            <section
                class="page-header page-header-modern page-header-background page-header-background-pattern page-header-background-sm overlay overlay-color-dark overlay-show overlay-op-5"
                style="background-image: url({% static 'img/patterns/random_grey_variations.png' %});">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 align-self-center p-static order-2 text-center">
                            <h1><strong>How we work</strong></h1>
                        </div>
                    </div>
                </div>
            </section>

            <div class="container">

                <div class="row">
                    <div class="col-lg-9 mb-4 mb-lg-0">
                        <div class="row">
                            <div class="col preview-classic-video-light">
                                <!-- Glimpse of Kirtipur Area  -->
                                <h4 class="text-decoration-none">
                                    
                                </h4>
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe width="1280" height="720" src="https://www.youtube.com/embed/Gte-FWsv5lE"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                        <hr class="tall">
                        <div class="row">
                            <div class="col preview-classic-video-light">
                                <!-- architectural data collection and data feed  -->
                                <h4 class="text-decoration-none">
                                    If you are interested to know how the architects working in the NHDP team work,
                                    please watch
                                    this video!
                                </h4>
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe width="1280" height="720" src="https://www.youtube.com/embed/Bnprdrxqn9M"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                        <hr class="tall">
                        <div class="row">
                            <div class="col preview-classic-video-light">
                                <!-- Campus TV Kulturebe  -->
                                <h4 class="text-decoration-none">
                                    This is a short news clip about the pilot phase of the NHDP and how the team work
                                    related to the
                                    documentation of endangered heritage in Nepal has started to shape.
                                </h4>
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe width="1280" height="720" src="https://www.youtube.com/embed/IU073Kcl2Vs"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                        <hr class="tall">
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>


    {% include 'partials/footer.htm' %}
    {% include 'partials/javascript.htm' %}
</body>

</html>